.tooltip {
  max-width: 120px;

  display: flex;
  z-index: 200000;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.3333;
  -webkit-box-align: center;

  align-items: center;
  font-size: 0.7em;
  color: black;
  font-weight: 500;
  max-height: 20px;
  height: 100%;
  padding: 8px 10px;
  background-color: #e4e6eb;
  border-bottom-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border-top-left-radius: 18px;
}
